/* Общие стили */
* {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
  font-weight: normal;
  font-size: 100%;
}

body {
  font-family: 'Open Sans', Arial, sans-serif;
  background-color: rgba(247, 252, 252, 0.8);
}




header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.container {
  width: 100%;
}

.top {
  position: relative; /* Это нужно для позиционирования текста внутри блока */
  width: 100%;
}

.top img {
  width: 100%;
  height: auto;
  padding: 15px; /* Добавление отступа вокруг изображения */
  border: 1px solid rgba(192, 248, 252); /* Добавление рамки */
  background-color: rgba(247, 252, 252, 0.8); /* Добавление фона */
  border-radius: 40px; /* Скругление углов рамки */
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); /* Добавление тени */
  opacity: 0.85;
}

.text {
  position: absolute;
  color: rgb(0, 172, 229); /* Цвет текста, подходящий к общей цветовой гамме */
  font-size: 3.2em; /* Размер текста */
  font-weight: bold; /* Жирность текста для лучшей читаемости */
  font-family: William, serif;


  background-color: rgba(255, 255, 255, 0.85); /* Полупрозрачный фон для лучшей видимости текста */
  padding: 40px; /* Отступы вокруг текста */
  border-radius: 35px; /* Скругленные углы блока текста */
}

.top-left {
  top: 12px; /* Отступ от верхнего края */
  left: 12px; /* Отступ от левого края */
}

.top-right {
  top: 12px; /* Отступ от верхнего края */
  right: 12px; /* Отступ от правого края */
}

.bottom-left {
  bottom: 12px; /* Отступ от нижнего края */
  left: 12px; /* Отступ от левого края */
}

.bottom-right {
  bottom: 12px; /* Отступ от нижнего края */
  right: 12px; /* Отступ от правого края */
}

.bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.left {
  position: relative; /* Это нужно для абсолютного позиционирования текста */
  width: 50%;

  margin-right: 15px;

}

.right {
  position: relative; /* Это нужно для абсолютного позиционирования текста */
  width: 50%;

  margin-left: 15px; /* Добавлено для правильного выравнивания блока справа */
}



.left img, .right img {
  width: 100%;
  height: auto;
  padding: 15px; /* Добавление отступа вокруг изображения */
  border: 1px solid rgba(192, 248, 252); /* Добавление рамки */
  background-color: rgba(247, 252, 252, 0.8); /* Добавление фона */
  border-radius: 40px; /* Скругление углов рамки */
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); /* Добавление тени */
  opacity: 0.9;
}






.text.centered-left,
.text.centered-right
{

  position: absolute;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(0, 172, 229);
  font-size: 1.8em; /* Размер текста */
  font-weight: bold;
  font-family: William, serif;
  background-color: rgba(255, 255, 255, 0.91); /* Полупрозрачный фон */
  padding: 20px; /* Отступы вокруг текста */
  border-radius: 20px;
  text-align: center; /* Центрирование текста */
  width: 80%; /* Ширина текстового блока, можно регулировать */


}







img {
  max-width: 100%;
  height: auto;
}







@media (max-width: 600px) {
  header {
    padding: 20px; /* Уменьшение отступов на маленьких экранах */
  }

  .left, .right {
    width: 100%; /* Увеличение ширины на 100% */
  }
}



.footer {
  width: 100%;
  padding: 15px; /* Добавление отступа вокруг блока */
  margin-top: 30px; /* Отступ сверху для отделения от предыдущего контента */
  border: 1px solid rgba(192, 248, 252); /* Рамка, как у изображений */
  background-color: rgba(247, 252, 252, 0.8); /* Фон, как у изображений */
  border-radius: 40px; /* Скругленные углы */
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); /* Тень, как у изображений */
  opacity: 0.9; /* Прозрачность */
  display: flex; /* Используем Flexbox */
  justify-content: center; /* Горизонтальное выравнивание по центру */
  align-items: center; /* Вертикальное выравнивание по центру */
  min-height: 150px; /* Минимальная высота блока, чтобы он был виден даже без текста */
  text-align: center; /* Центрирование текста внутри блока */
}


.footer-content {
  /* Добавляем обертку для выравнивания содержимого */
}

.footer p {
  margin: 0;
  font-size: 1.5em;
  font-weight: bold;
  color: rgb(0, 172, 229); /* Цвет текста */
}

.telegram-link {
  color: rgb(0, 172, 229); /* Цвет ссылки */
  text-decoration: none; /* Убирает подчеркивание */
}

.telegram-link:hover {
  text-decoration: underline; /* Подчеркивание при наведении */
}

.telegram-button {
  display: inline-block;
  margin-top: 10px;
}

.telegram-icon {
  width: 40px; /* Ширина иконки */
  height: auto;
}




@media (max-width: 600px) {
  .footer {
    padding: 10px; /* Уменьшение отступов на маленьких экранах */
  }
}

